<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h2>Immediate Steps:</h2>
    <ol>
      <li>Go to a safe place and remove yourself from any immediate danger.</li>
      <li>Contact someone that you trust for emotional support.</li>
      <li>Report it by calling 911, notifying your local police department or visiting a medical center immediately.</li>
        <ul>
        	<li>Under the Violence Against Women Act, you are entitled to a free sexual assault forensic exam, which should be performed within 72 hours of the assault. Whether you decide to immediately report the case or not, the evidence collected through this exam will be stored for 6 months.</li>
        </ul>
      <li>Preserve all physical evidence.</li>
      	<ul>
        	<li>Avoid showering, using the restroom, combing your hair, and changing your clothes.</li>
        </ul>
    </ol>
    <h2>Tips for Survivors Seeking Justice</h2>
    	<p>If you choose to report the sexual asault and intend to press charges, there are two types of cases:</p>
    <table style="width:100%">
      <tr>
        <th>Criminal</th>
        <th>Civil</th> 
      </tr>
      <tr>
        <td>This is an attempt to prove the attacker is guilty and forces him/her to serve jail time.</td>
        <td>This is an attempt to win financial compensation. Your lawyer will argue that the perpetrator should be held accountable for any medical costs.</td> 
      </tr>
      <tr>
        <td>To file a court case, concrete evidence is necessary; in other words the evidence must be “proof beyond reasonable doubt.” </td>
        <td>Less proof is needed to begin a court case.</td>
      </tr>
      <tr>
        <td>A state attorney ultimately has full control over the case.</td>
        <td>A private attorney will represent you and can make decisions regarding the case.</td>
      </tr>
      <tr>
        <td>You will be asked to testify.</td>
        <td>You will be asked to testify.</td>
      </tr>
    </table>     
    <h3>Helpful Organizations</h3>
    <ul>
      <li><a href = "http://www.woar.org/counseling-and-support/">Women Organized Aginst Rape</a> offers counseling, crisis services, and support to survivors of all ages.</li>
      <li><a href = "https://www.rainn.org/">RAINN</a> provides sexual assualt survivors with advice through a 24 hour hotline and a live chat.</li>
      <li><a href = "www.nsvrc.org/">The National Sexual Violence Resource Center</a> aims to be a leader in responding to sexual violence</li>
      <li><a href = "www.soar99.org/">Speaking Out About Rape</a> is a blog that aims to raise national awareness and inspire survivors with inspirational stories </li>
      <li><a href = "www.vday.org/">V Day</a> is a global movement to stop violence against women</li>
      <li><a href = "http://www.svfreenyc.org/">The New York City Alliance Against Sexual Assault</a></li>
    </ul>
  </body>
</html>